/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-size: inherit; */
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --accent: #062335;
  --green: #3e7965;
  --graient: linear-gradient(#3da454, #45a45d)
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 30px;
}

.App {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: calc(100vh - 60px);
  min-width: 800px;
}

.Form {
  padding: 25px;
  border: 2px solid var(--green);
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  gap: 10px;
}

.Form>div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Form>div>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: .9rem;
  opacity: .7;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  font-size: .9rem;
  padding: 5px;
  width: 60%;
  align-self: end;
}

.CV {
  flex-basis: 60%;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  opacity: .7;
}

textarea {
  width: 100%;
  resize: none;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  font-size: .9rem;
  padding: 5px;
}