/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.form {
  padding: 10px;
  border: rgb(121, 121, 121) solid 1px;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.form-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}